/** @format */
.about{
  width: 100%;
  padding: 3rem 0;
}
.about-wrapper {
  /* border: 1px solid red; */
  /* border-bottom: 1px solid #ffffff7a; */
  height: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  align-items: center;
}
.about-img {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-img img {
  width: 350px;
  height: 550px;
  filter: drop-shadow(5px 5px 15px rgb(0, 0, 0));
}
.about-content {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* width: 493px; */
}
.about-content h2 {
  color: #fff;
  font-family: Playfair Display;
  font-size: 50px;
  padding: 1rem 0;
  font-style: normal;
  text-decoration: underline;
  /* float: right; */
  font-weight: 700;
  line-height: 180%; /* 90px */
  letter-spacing: 0.3px;
}
.about-content p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; 
  letter-spacing: 0.3px;
}
.about-content p::first-letter{
    color: rgb(255, 72, 0);
    font-size: 20px;
    padding-right: 5px;
}
/*  */
@media only screen and (max-width:500px) {
  .about-wrapper{
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;
  }
  .about-img img{
    width: 200px;
    height: 300px;
    /* display: none; */
  }
  .about-content{
    align-items: center;
  }
}